/* @import url("primer.css"); */
@import url("fonts.css");

html, body{
    background-color: white;
    color: black;
    margin: 0px;
}
.container{
    width: 100%;
    background-color: white;
    display: grid;
    /* grid-auto-rows: minmax(20%, 80%); */
    grid-template-columns: 100%;
    align-content: start;
    justify-content: center;
    
}

header{
    width: 100%;
    height: 20vh;
    padding: 1%;
    background-color: #444;
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    background-attachment: scroll;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}

.title{
    height: 50% ;
    /* width: fit-content; */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3rem;
    color: #000;
    background-color: #fff;
    padding-top: 0%;
}


